# regroup random shuffle done in Numbers by article index with pandas

In [2]:
import pandas as pd

/var/folders/q6/7cdr_lr528137k1jpb413r7h0000gn/T/ipykernel_11859/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
pd

In [4]:
# read in the randomly shuffled dataset
shuffled_data = pd.read_csv('/Users/ethan/GitHub_Desktop/Hotel-Reviews/task1/output/randomized.csv', index_col='Unnamed: 0')

In [5]:
shuffled_data

,Article Index,Part,Percentage
1024,17267,The European Central Bank on Thursday raised i...,100
4483,9309,The biggest takeover battle in Japanese histor...,80
912,64046,NEW YORK (Reuters) - The two top U.S. toymaker...,60
2918,55604,NEW YORK - United States stocks fell on Friday...,80
2742,77763,The new boss of scandal-hit US insurance broke...,60
...,...,...,...
932,82891,"SBC Communications expects to cut 10,000 or mo...",60
1314,63792,British Defense Secretary Geoff Hoonconfirmed ...,100
4677,81588,One day after it appeared the New York Jets wo...,60
1391,76131,AFP - Several people were injured in a quot;bi...,40
1147,38403,The Palestinian groups yesterday carried out a...,60

In [6]:
shuffled_data = shuffled_data.sort_values(by=['Article Index'])

In [7]:
shuffled_data

,Article Index,Part,Percentage
422,52,"After a tough year, Detroit's troubled carmake...",60
423,52,"After a tough year, Detroit's troubled carmake...",80
424,52,"After a tough year, Detroit's troubled carmake...",100
421,52,"After a tough year, Detroit's troubled carmake...",40
420,52,"After a tough year,",20
...,...,...,...
2087,119902,Reuters - After three years of playing down ex...,60
2089,119902,Reuters - After three years of playing down ex...,100
2088,119902,Reuters - After three years of playing down ex...,80
2085,119902,Reuters - After three years of playing,20
2086,119902,Reuters - After three years of playing down ex...,40

In [8]:
# save to new csv file
shuffled_data.to_csv('../task1/output/shuffled_articles_stacked.csv')