# Cleaned Ag news dataset

todos:

TODO: randomly select 1000 snippets from the 3000 snippets in the dataset

TODO: excel spreadsheet contains three columns: the first is index, the second is the class 
       label (what kind of article) and the third colum is the news snippet.

TODO: split each instance into 5 parts containing 20% 40 60 80 100 of the words in the snippet from the beginning

TODO: this will give you a file with 5,000 sub instances please include the index and the calss labels
       when you split each instance into sub-instances.

TODO: save as excel spreadhsehet file .xlsx and see if numbers can do that

TODO: what to do about non words like punctuation. currently each individual puncuation would be counted as a word and a space would be added
      between all punctuations even repeating ones -_-_-_-_ - _ - _ etc

TODO: include header column for percent of full?

<hr>

In [1]:
import pandas as pd

In [2]:
# read in xlsx file into pandas
reviews_df = pd.read_excel("../task1/datachakra.xlsx")

In [3]:
reviews_df

,Unnamed: 0,Class Index,Description
0,84222,2,VILLANOVA - The difference between Amelie Maur...
1,80954,4,Intel is readying a line of consumer electroni...
2,47694,1,"Two members of Izzedin al Qassam Brigades, the..."
3,62416,2,The gale that engulfed England 39;s footballer...
4,114230,4,"Chip-making technique to fuel AMD64, PowerPC, ..."
...,...,...,...
2995,28292,3,Santander Central Hispano 39;s Chairman Emilio...
2996,43878,4,"MOJAVE, Calif. Sept. 29, 2004 - After recoveri..."
2997,65347,3,Crude oil prices rose back up over $53 a barr...
2998,16023,2,"even if you were behind home plate, with Curt ..."
2999,52746,3,Johnson amp; Johnson's neck stent is as effec...

In [ ]:
def split_reviews(df):
    '''Splits the cleaned news data set into 5 equal parts and returns a new dataframe.

    Arguments: df (the pandas dataframe read in from the xlsx file) using pandas.read_excel
    
    Returns: A new dataframe containing the 5 splits is returned.
    '''
    
    # initialize new empty dataframe to hold splits
    # TODO: different headers missing review response and user id
    split_df = pd.DataFrame(columns=['User_ID', 'Review_Description', 'Percent_of_Full_Review', 'Is_Happy_Response'])
    
    # iterate through the reviews dataframe
    for index in df.index:
        # output index for status check
        print(f"{index} of {len(df)}")
        # get the current rows review
        review_message = df.loc[index]['Description']
        # split into list to separate based off of word count
        review_message_list = review_message.split()
        # get number of words in review for calculating split
        num_words = len(review_message_list)
        # split into 20, 40, 60, 80, 100
        twenty = review_message_list[:int(num_words *0.2)]
        fourty = review_message_list[:int(num_words *0.4)]
        sixty = review_message_list[:int(num_words *0.6)]
        eighty = review_message_list[:int(num_words *0.8)]
        # convert split lists back into strings
        twenty = ' '.join(twenty)
        fourty = ' '.join(fourty)
        sixty = ' '.join(sixty)
        eighty = ' '.join(eighty)
        hundred = review_message
    
        # append to split dataframe
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['User_ID'], twenty, 20, df.loc[index]['Is_Response']
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['User_ID'], fourty, 40, df.loc[index]['Is_Response']
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['User_ID'], sixty, 60, df.loc[index]['Is_Response']
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['User_ID'], eighty, 80, df.loc[index]['Is_Response']
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['User_ID'], hundred, 100, df.loc[index]['Is_Response']
    
    # return the new dataframe containing the 5 splits of the review message
    return split_df