# Cleaned Ag news dataset

TODO: split each instance into 5 parts containing 20% 40 60 80 100 of the words in the snippet from the beginning

TODO: this will give you a file with 5,000 sub instances please include the index and the calss labels
       when you split each instance into sub-instances.

TODO: save as excel spreadhsehet file .xlsx and see if numbers can do that

TODO: what to do about non words like punctuation. currently each individual puncuation would be counted as a word and a space would be added
      between all punctuations even repeating ones -_-_-_-_ - _ - _ etc

TODO: include header column for percent of full?

<hr>

In [1]:
# import pandas
import pandas as pd

In [19]:
# read in xlsx file news data set using pandas
news_df = pd.read_excel("../task1/datachakra.xlsx")

In [34]:
# get random 1000 samples of the total 3000
news_df_1000 = news_df.sample(n=1000)

In [35]:
# display the 1000 subset
news_df_1000

,Article Index,Class Index,Description
2807,74440,4,Microsoft and Sun Microsystems say they are wa...
1861,40553,1,The Afghan president makes a rare visit to the...
1724,46231,4,California Gov. Arnold Schwarzenegger says the...
1289,92642,3,WASHINGTON Congress would find a quot;Pandora...
2380,23158,4,IBM will begin shipping a new DB2 Universal Da...
...,...,...,...
2243,101340,2,A WHY-WORRY attitude to three dropped shots on...
1541,96542,2,As we exclusively predicted earlier this week ...
1517,28642,4,"SEPTEMBER 15, 2004 (MACCENTRAL) - Adobe System..."
2058,66848,2,AP - He's been called the smartest man in base...
883,57455,1,Tony Blair is being urged to use all his negot...

In [36]:
def five_split_df(df):
    '''Splits the cleaned news data set into 5 equal parts and returns a new dataframe.

    Arguments: df (the pandas dataframe read in from the xlsx file) using pandas.read_excel
    
    Returns: A new dataframe containing the 5 splits is returned.
    '''
    
    # initialize new empty dataframe to hold splits
    # TODO: different headers missing review response and user id
    split_df = pd.DataFrame(columns=['Article Index', 'Class Index', 'Description', 'Percent of Full'])
    
    i = 1
    # iterate through the reviews dataframe
    for index in df.index:

        # output index for status check
        print(f"{i} of {len(df)}")
        i += 1

        # get the current rows description
        description = df.loc[index]['Description']
        # split into list to separate based off of word count
        description_list = description.split()

        # get number of words in review for calculating split
        num_words = len(description_list)
        # split into 20, 40, 60, 80, 100
        twenty = description_list[:int(num_words *0.2)]
        fourty = description_list[:int(num_words *0.4)]
        sixty = description_list[:int(num_words *0.6)]
        eighty = description_list[:int(num_words *0.8)]

        # convert split lists back into strings
        twenty = ' '.join(twenty)
        fourty = ' '.join(fourty)
        sixty = ' '.join(sixty)
        eighty = ' '.join(eighty)
        hundred = description
    
        # append to split dataframe
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], twenty, 20
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], fourty, 40
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], sixty, 60
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], eighty, 80
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], hundred, 100
    
    # return the new dataframe containing the 5 splits of the review message
    return split_df

In [37]:
split_df = five_split_df(news_df_1000)
split_df

1 of 1000
2 of 1000
3 of 1000
4 of 1000
5 of 1000
6 of 1000
7 of 1000
8 of 1000
9 of 1000
10 of 1000
11 of 1000
12 of 1000
13 of 1000
14 of 1000
15 of 1000
16 of 1000
17 of 1000
18 of 1000
19 of 1000
20 of 1000
21 of 1000
22 of 1000
23 of 1000
24 of 1000
25 of 1000
26 of 1000
27 of 1000
28 of 1000
29 of 1000
30 of 1000
31 of 1000
32 of 1000
33 of 1000
34 of 1000
35 of 1000
36 of 1000
37 of 1000
38 of 1000
39 of 1000
40 of 1000
41 of 1000
42 of 1000
43 of 1000
44 of 1000
45 of 1000
46 of 1000
47 of 1000
48 of 1000
49 of 1000
50 of 1000
51 of 1000
52 of 1000
53 of 1000
54 of 1000
55 of 1000
56 of 1000
57 of 1000
58 of 1000
59 of 1000
60 of 1000
61 of 1000
62 of 1000
63 of 1000
64 of 1000
65 of 1000
66 of 1000
67 of 1000
68 of 1000
69 of 1000
70 of 1000
71 of 1000
72 of 1000
73 of 1000
74 of 1000
75 of 1000
76 of 1000
77 of 1000
78 of 1000
79 of 1000
80 of 1000
81 of 1000
82 of 1000
83 of 1000
84 of 1000
85 of 1000
86 of 1000
87 of 1000
88 of 1000
89 of 1000
90 of 1000
91 of 1000
92 of 1000
93 of 1000
94 of 1000
95 of 1000
96 of 1000
97 of 1000
98 of 1000
99 of 1000
100 of 1000
101 of 1000
102 of 1000
103 of 1000
104 of 1000
105 of 1000
106 of 1000
107 of 1000
108 of 1000
109 of 1000
110 of 1000
111 of 1000
112 of 1000
113 of 1000
114 of 1000
115 of 1000
116 of 1000
117 of 1000
118 of 1000
119 of 1000
120 of 1000
121 of 1000
122 of 1000
123 of 1000
124 of 1000
125 of 1000
126 of 1000
127 of 1000
128 of 1000
129 of 1000
130 of 1000
131 of 1000
132 of 1000
133 of 1000
134 of 1000
135 of 1000
136 of 1000
137 of 1000
138 of 1000
139 of 1000
140 of 1000
141 of 1000
142 of 1000
143 of 1000
144 of 1000
145 of 1000
146 of 1000
147 of 1000
148 of 1000
149 of 1000
150 of 1000
151 of 1000
152 of 1000
153 of 1000
154 of 1000
155 of 1000
156 of 1000
157 of 1000
158 of 1000
159 of 1000
160 of 1000
161 of 1000
162 of 1000
163 of 1000
164 of 1000
165 of 1000
166 of 1000
167 of 1000
168 of 1000
169 of 1000
170 of 1000
171 of 1000
172 of 1000
173 of 1000
174 of 1000
175 of 1000
176 of 1000
177 of 1000
178 of 1000
179 of 1000
180 of 1000
181 of 1000
182 of 1000
183 of 1000
184 of 1000
185 of 1000
186 of 1000
187 of 1000
188 of 1000
189 of 1000
190 of 1000
191 of 1000
192 of 1000
193 of 1000
194 of 1000
195 of 1000
196 of 1000
197 of 1000
198 of 1000
199 of 1000
200 of 1000
201 of 1000
202 of 1000
203 of 1000
204 of 1000
205 of 1000
206 of 1000
207 of 1000
208 of 1000
209 of 1000
210 of 1000
211 of 1000
212 of 1000
213 of 1000
214 of 1000
215 of 1000
216 of 1000
217 of 1000
218 of 1000
219 of 1000
220 of 1000
221 of 1000
222 of 1000
223 of 1000
224 of 1000
225 of 1000
226 of 1000
227 of 1000
228 of 1000
229 of 1000
230 of 1000
231 of 1000
232 of 1000
233 of 1000
234 of 1000
235 of 1000
236 of 1000
237 of 1000
238 of 1000
239 of 1000
240 of 1000
241 of 1000
242 of 1000
243 of 1000
244 of 1000
245 of 1000
246 of 1000
247 of 1000
248 of 1000
249 of 1000
250 of 1000
251 of 1000
252 of 1000
253 of 1000
254 of 1000
255 of 1000
256 of 1000
257 of 1000
258 of 1000
259 of 1000
260 of 1000
261 of 1000
262 of 1000
263 of 1000
264 of 1000
265 of 1000
266 of 1000
267 of 1000
268 of 1000
269 of 1000
270 of 1000
271 of 1000
272 of 1000
273 of 1000
274 of 1000
275 of 1000
276 of 1000
277 of 1000
278 of 1000
279 of 1000
280 of 1000
281 of 1000
282 of 1000
283 of 1000
284 of 1000
285 of 1000
286 of 1000
287 of 1000
288 of 1000
289 of 1000
290 of 1000
291 of 1000
292 of 1000
293 of 1000
294 of 1000
295 of 1000
296 of 1000
297 of 1000
298 of 1000
299 of 1000
300 of 1000
301 of 1000
302 of 1000
303 of 1000
304 of 1000
305 of 1000
306 of 1000
307 of 1000
308 of 1000
309 of 1000
310 of 1000
311 of 1000
312 of 1000
313 of 1000
314 of 1000
315 of 1000
316 of 1000
317 of 1000
318 of 1000
319 of 1000
320 of 1000
321 of 1000
322 of 1000
323 of 1000
324 of 1000
325 of 1000
326 of 1000
327 of 1000
328 of 1000
329 of 1000
330 of 1000
331 of 1000
332 of 1000
333 of 1000
334 of 1000
335 of 1000
336 of 1000
337 of 1000
338 of 1000
339 of 1000
340 of 1000
341 of 1000
342 of 1000
343 of 1000
344 of 1000
345 of 1000
346 of 1000
347 of 1000
348 of 1000
349 of 1000
350 of 1000
351 of 1000
352 of 1000
353 of 1000
354 of 1000
355 of 1000
356 of 1000
357 of 1000
358 of 1000
359 of 1000
360 of 1000
361 of 1000
362 of 1000
363 of 1000
364 of 1000
365 of 1000
366 of 1000
367 of 1000
368 of 1000
369 of 1000
370 of 1000
371 of 1000
372 of 1000
373 of 1000
374 of 1000
375 of 1000
376 of 1000
377 of 1000
378 of 1000
379 of 1000
380 of 1000
381 of 1000
382 of 1000
383 of 1000
384 of 1000
385 of 1000
386 of 1000
387 of 1000
388 of 1000
389 of 1000
390 of 1000
391 of 1000
392 of 1000
393 of 1000
394 of 1000
395 of 1000
396 of 1000
397 of 1000
398 of 1000
399 of 1000
400 of 1000
401 of 1000
402 of 1000
403 of 1000
404 of 1000
405 of 1000
406 of 1000
407 of 1000
408 of 1000
409 of 1000
410 of 1000
411 of 1000
412 of 1000
413 of 1000
414 of 1000
415 of 1000
416 of 1000
417 of 1000
418 of 1000
419 of 1000
420 of 1000
421 of 1000
422 of 1000
423 of 1000
424 of 1000
425 of 1000
426 of 1000
427 of 1000
428 of 1000
429 of 1000
430 of 1000
431 of 1000
432 of 1000
433 of 1000
434 of 1000
435 of 1000
436 of 1000
437 of 1000
438 of 1000
439 of 1000
440 of 1000
441 of 1000
442 of 1000
443 of 1000
444 of 1000
445 of 1000
446 of 1000
447 of 1000
448 of 1000
449 of 1000
450 of 1000
451 of 1000
452 of 1000
453 of 1000
454 of 1000
455 of 1000
456 of 1000
457 of 1000
458 of 1000
459 of 1000
460 of 1000
461 of 1000
462 of 1000
463 of 1000
464 of 1000
465 of 1000
466 of 1000
467 of 1000
468 of 1000
469 of 1000
470 of 1000
471 of 1000
472 of 1000
473 of 1000
474 of 1000
475 of 1000
476 of 1000
477 of 1000
478 of 1000
479 of 1000
480 of 1000
481 of 1000
482 of 1000
483 of 1000
484 of 1000
485 of 1000
486 of 1000
487 of 1000
488 of 1000
489 of 1000
490 of 1000
491 of 1000
492 of 1000
493 of 1000
494 of 1000
495 of 1000
496 of 1000
497 of 1000
498 of 1000
499 of 1000
500 of 1000
501 of 1000
502 of 1000
503 of 1000
504 of 1000
505 of 1000
506 of 1000
507 of 1000
508 of 1000
509 of 1000
510 of 1000
511 of 1000
512 of 1000
513 of 1000
514 of 1000
515 of 1000
516 of 1000
517 of 1000
518 of 1000
519 of 1000
520 of 1000
521 of 1000
522 of 1000
523 of 1000
524 of 1000
525 of 1000
526 of 1000
527 of 1000
528 of 1000
529 of 1000
530 of 1000
531 of 1000
532 of 1000
533 of 1000
534 of 1000
535 of 1000
536 of 1000
537 of 1000
538 of 1000
539 of 1000
540 of 1000
541 of 1000
542 of 1000
543 of 1000
544 of 1000
545 of 1000
546 of 1000
547 of 1000
548 of 1000
549 of 1000
550 of 1000
551 of 1000
552 of 1000
553 of 1000
554 of 1000
555 of 1000
556 of 1000
557 of 1000
558 of 1000
559 of 1000
560 of 1000
561 of 1000
562 of 1000
563 of 1000
564 of 1000
565 of 1000
566 of 1000
567 of 1000
568 of 1000
569 of 1000
570 of 1000
571 of 1000
572 of 1000
573 of 1000
574 of 1000
575 of 1000
576 of 1000
577 of 1000
578 of 1000
579 of 1000
580 of 1000
581 of 1000
582 of 1000
583 of 1000
584 of 1000
585 of 1000
586 of 1000
587 of 1000
588 of 1000
589 of 1000
590 of 1000
591 of 1000
592 of 1000
593 of 1000
594 of 1000
595 of 1000
596 of 1000
597 of 1000
598 of 1000
599 of 1000
600 of 1000
601 of 1000
602 of 1000
603 of 1000
604 of 1000
605 of 1000
606 of 1000
607 of 1000
608 of 1000
609 of 1000
610 of 1000
611 of 1000
612 of 1000
613 of 1000
614 of 1000
615 of 1000
616 of 1000
617 of 1000
618 of 1000
619 of 1000
620 of 1000
621 of 1000
622 of 1000
623 of 1000
624 of 1000
625 of 1000
626 of 1000
627 of 1000
628 of 1000
629 of 1000
630 of 1000
631 of 1000
632 of 1000
633 of 1000
634 of 1000
635 of 1000
636 of 1000
637 of 1000
638 of 1000
639 of 1000
640 of 1000
641 of 1000
642 of 1000
643 of 1000
644 of 1000
645 of 1000
646 of 1000
647 of 1000
648 of 1000
649 of 1000
650 of 1000
651 of 1000
652 of 1000
653 of 1000
654 of 1000
655 of 1000
656 of 1000
657 of 1000
658 of 1000
659 of 1000
660 of 1000
661 of 1000
662 of 1000
663 of 1000
664 of 1000
665 of 1000
666 of 1000
667 of 1000
668 of 1000
669 of 1000
670 of 1000
671 of 1000
672 of 1000
673 of 1000
674 of 1000
675 of 1000
676 of 1000
677 of 1000
678 of 1000
679 of 1000
680 of 1000
681 of 1000
682 of 1000
683 of 1000
684 of 1000
685 of 1000
686 of 1000
687 of 1000
688 of 1000
689 of 1000
690 of 1000
691 of 1000
692 of 1000
693 of 1000
694 of 1000
695 of 1000
696 of 1000
697 of 1000
698 of 1000
699 of 1000
700 of 1000
701 of 1000
702 of 1000
703 of 1000
704 of 1000
705 of 1000
706 of 1000
707 of 1000
708 of 1000
709 of 1000
710 of 1000
711 of 1000
712 of 1000
713 of 1000
714 of 1000
715 of 1000
716 of 1000
717 of 1000
718 of 1000
719 of 1000
720 of 1000
721 of 1000
722 of 1000
723 of 1000
724 of 1000
725 of 1000
726 of 1000
727 of 1000
728 of 1000
729 of 1000
730 of 1000
731 of 1000
732 of 1000
733 of 1000
734 of 1000
735 of 1000
736 of 1000
737 of 1000
738 of 1000
739 of 1000
740 of 1000
741 of 1000
742 of 1000
743 of 1000
744 of 1000
745 of 1000
746 of 1000
747 of 1000
748 of 1000
749 of 1000
750 of 1000
751 of 1000
752 of 1000
753 of 1000
754 of 1000
755 of 1000
756 of 1000
757 of 1000
758 of 1000
759 of 1000
760 of 1000
761 of 1000
762 of 1000
763 of 1000
764 of 1000
765 of 1000
766 of 1000
767 of 1000
768 of 1000
769 of 1000
770 of 1000
771 of 1000
772 of 1000
773 of 1000
774 of 1000
775 of 1000
776 of 1000
777 of 1000
778 of 1000
779 of 1000
780 of 1000
781 of 1000
782 of 1000
783 of 1000
784 of 1000
785 of 1000
786 of 1000
787 of 1000
788 of 1000
789 of 1000
790 of 1000
791 of 1000
792 of 1000
793 of 1000
794 of 1000
795 of 1000
796 of 1000
797 of 1000
798 of 1000
799 of 1000
800 of 1000
801 of 1000
802 of 1000
803 of 1000
804 of 1000
805 of 1000
806 of 1000
807 of 1000
808 of 1000
809 of 1000
810 of 1000
811 of 1000
812 of 1000
813 of 1000
814 of 1000
815 of 1000
816 of 1000
817 of 1000
818 of 1000
819 of 1000
820 of 1000
821 of 1000
822 of 1000
823 of 1000
824 of 1000
825 of 1000
826 of 1000
827 of 1000
828 of 1000
829 of 1000
830 of 1000
831 of 1000
832 of 1000
833 of 1000
834 of 1000
835 of 1000
836 of 1000
837 of 1000
838 of 1000
839 of 1000
840 of 1000
841 of 1000
842 of 1000
843 of 1000
844 of 1000
845 of 1000
846 of 1000
847 of 1000
848 of 1000
849 of 1000
850 of 1000
851 of 1000
852 of 1000
853 of 1000
854 of 1000
855 of 1000
856 of 1000
857 of 1000
858 of 1000
859 of 1000
860 of 1000
861 of 1000
862 of 1000
863 of 1000
864 of 1000
865 of 1000
866 of 1000
867 of 1000
868 of 1000
869 of 1000
870 of 1000
871 of 1000
872 of 1000
873 of 1000
874 of 1000
875 of 1000
876 of 1000
877 of 1000
878 of 1000
879 of 1000
880 of 1000
881 of 1000
882 of 1000
883 of 1000
884 of 1000
885 of 1000
886 of 1000
887 of 1000
888 of 1000
889 of 1000
890 of 1000
891 of 1000
892 of 1000
893 of 1000
894 of 1000
895 of 1000
896 of 1000
897 of 1000
898 of 1000
899 of 1000
900 of 1000
901 of 1000
902 of 1000
903 of 1000
904 of 1000
905 of 1000
906 of 1000
907 of 1000
908 of 1000
909 of 1000
910 of 1000
911 of 1000
912 of 1000
913 of 1000
914 of 1000
915 of 1000
916 of 1000
917 of 1000
918 of 1000
919 of 1000
920 of 1000
921 of 1000
922 of 1000
923 of 1000
924 of 1000
925 of 1000
926 of 1000
927 of 1000
928 of 1000
929 of 1000
930 of 1000
931 of 1000
932 of 1000
933 of 1000
934 of 1000
935 of 1000
936 of 1000
937 of 1000
938 of 1000
939 of 1000
940 of 1000
941 of 1000
942 of 1000
943 of 1000
944 of 1000
945 of 1000
946 of 1000
947 of 1000
948 of 1000
949 of 1000
950 of 1000
951 of 1000
952 of 1000
953 of 1000
954 of 1000
955 of 1000
956 of 1000
957 of 1000
958 of 1000
959 of 1000
960 of 1000
961 of 1000
962 of 1000
963 of 1000
964 of 1000
965 of 1000
966 of 1000
967 of 1000
968 of 1000
969 of 1000
970 of 1000
971 of 1000
972 of 1000
973 of 1000
974 of 1000
975 of 1000
976 of 1000
977 of 1000
978 of 1000
979 of 1000
980 of 1000
981 of 1000
982 of 1000
983 of 1000
984 of 1000
985 of 1000
986 of 1000
987 of 1000
988 of 1000
989 of 1000
990 of 1000
991 of 1000
992 of 1000
993 of 1000
994 of 1000
995 of 1000
996 of 1000
997 of 1000
998 of 1000
999 of 1000
1000 of 1000

,Article Index,Class Index,Description,Percent of Full
0,74440,4,Microsoft and Sun Microsystems say they,20
1,74440,4,Microsoft and Sun Microsystems say they are wa...,40
2,74440,4,Microsoft and Sun Microsystems say they are wa...,60
3,74440,4,Microsoft and Sun Microsystems say they are wa...,80
4,74440,4,Microsoft and Sun Microsystems say they are wa...,100
...,...,...,...,...
4995,57455,1,Tony Blair is being urged to use all his,20
4996,57455,1,Tony Blair is being urged to use all his negot...,40
4997,57455,1,Tony Blair is being urged to use all his negot...,60
4998,57455,1,Tony Blair is being urged to use all his negot...,80
4999,57455,1,Tony Blair is being urged to use all his negot...,100

In [38]:
split_df.to_excel('test.xlsx')