# Cleaned Ag news dataset

TODO: split each instance into 5 parts containing 20% 40 60 80 100 of the words in the snippet from the beginning

TODO: this will give you a file with 5,000 sub instances please include the index and the calss labels
       when you split each instance into sub-instances.

TODO: save as excel spreadhsehet file .xlsx and see if numbers can do that

TODO: what to do about non words like punctuation. currently each individual puncuation would be counted as a word and a space would be added
      between all punctuations even repeating ones -_-_-_-_ - _ - _ etc

TODO: include header column for percent of full?

<hr>

In [1]:
# import pandas
import pandas as pd

In [19]:
# read in xlsx file news data set using pandas
news_df = pd.read_excel("../task1/datachakra.xlsx")

In [22]:
# get random 1000 samples of the total 3000
news_df_1000 = news_df.sample(n=2)

In [23]:
# display the 1000 subset
news_df_1000

,Article Index,Class Index,Description
1325,41241,4,A new technology capable of storing the equiva...
1400,19997,2,AP - Replacement starter Travis Smith pitched ...

In [29]:
def five_split_df(df):
    '''Splits the cleaned news data set into 5 equal parts and returns a new dataframe.

    Arguments: df (the pandas dataframe read in from the xlsx file) using pandas.read_excel
    
    Returns: A new dataframe containing the 5 splits is returned.
    '''
    
    # initialize new empty dataframe to hold splits
    # TODO: different headers missing review response and user id
    split_df = pd.DataFrame(columns=['Article Index', 'Class Index', 'Description', 'Percent of Full'])
    
    i = 1
    # iterate through the reviews dataframe
    for index in df.index:

        # output index for status check
        print(f"{i} of {len(df)}")
        i += 1

        # get the current rows description
        description = df.loc[index]['Description']
        # split into list to separate based off of word count
        description_list = description.split()

        # get number of words in review for calculating split
        num_words = len(description_list)
        # split into 20, 40, 60, 80, 100
        twenty = description_list[:int(num_words *0.2)]
        fourty = description_list[:int(num_words *0.4)]
        sixty = description_list[:int(num_words *0.6)]
        eighty = description_list[:int(num_words *0.8)]

        # convert split lists back into strings
        twenty = ' '.join(twenty)
        fourty = ' '.join(fourty)
        sixty = ' '.join(sixty)
        eighty = ' '.join(eighty)
        hundred = description
    
        # append to split dataframe
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], twenty, 20
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], fourty, 40
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], sixty, 60
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], eighty, 80
        split_df.loc[len(split_df), split_df.columns] = df.loc[index]['Article Index'], df.loc[index]['Class Index'], hundred, 100
    
    # return the new dataframe containing the 5 splits of the review message
    return split_df

In [31]:
split_df = five_split_df(news_df_1000)
split_df

1 of 2
2 of 2

,Article Index,Class Index,Description,Percent of Full
0,41241,4,A new technology capable of,20
1,41241,4,A new technology capable of storing the equiva...,40
2,41241,4,A new technology capable of storing the equiva...,60
3,41241,4,A new technology capable of storing the equiva...,80
4,41241,4,A new technology capable of storing the equiva...,100
5,19997,2,AP - Replacement starter Travis Smith,20
6,19997,2,AP - Replacement starter Travis Smith pitched ...,40
7,19997,2,AP - Replacement starter Travis Smith pitched ...,60
8,19997,2,AP - Replacement starter Travis Smith pitched ...,80
9,19997,2,AP - Replacement starter Travis Smith pitched ...,100

In [32]:
split_df.to_csv('test.csv', sep=',', index=False, encoding='utf-8')

In [33]:
split_df.to_excel('test.xlsx')