In [9]:
import pandas as pd

In [10]:
# read in both csvs
sub1 = pd.read_csv("Hotel_Sub_1.csv")
reviews = pd.read_csv("Hotel_Review_1000_selected_unlabeled.csv")

In [11]:
#display csvs
print("dataset that needs percentage")
print(sub1)
print("dataset that has full text")
print(reviews)

dataset that needs percentage
      index                                               part  Annotations
0      8884  Excellent hotel in a great location. Close eno...            0
1      1098  Third time visit to this hotel. Rooms renovate...            1
2      4870  When we fly into Orlando to visit family on th...            1
3      6665  Close to airport but also close to a noisy roa...            1
4      7456  This is a great choice for Love Field area. Re...            1
...     ...                                                ...          ...
4995    994  Please avoid this hotel. After Hampton Inn los...            1
4996   5354         Cannot recommend this place enough. Great             1
4997   3532  Annual sibling reunion (3 siblings plus spouse...            1
4998   4915  Everyone, from Rebecca at check-in, Deborah at...            1
4999   6647  Ottimo hotel situato in buona posizione a met ...            1

[5000 rows x 3 columns]
dataset that has full text
     Index reviews.ratings                                       reviews.text
0     4524        positive  Staff was exceptional, always a friendly smile...
1     7323        positive  We stayed here for a wedding. The staff was wo...
2     5070        positive  Very clean, pleasant facility. Environment of ...
3      266        positive  Everything was excellent will definitely be go...
4     9342        positive  Stayed here overnight in between flights throu...
..     ...             ...                                                ...
995   3032        negative  I am not a big fan of holiday inn but I came w...
996   3914        positive  nice place. friendly staff. i stayed in a delu...
997   4607        positive  We were in Webster for a wedding so we just st...
998     72        positive  Clean, spacious, and quiet rooms. Very comfort...
999   5555        positive  Moonstone Beach Motel is a great new building....

[1000 rows x 3 columns]

In [12]:
# TODO
# add percentage of full column to sub1
# get id of row in sub1
# find id row in reviews
# compare character count between two
# use character count to quantify percentage of fullreview in reviews.csv
# populate percentage column  in sub1  with  correct percentage of  full
#  savesub1  with percentage  to csv  file
#  commit
#  send email

so iterate through subl

get row at iteration

grab id and text
get character count of subl text

find id in reviews
get text in reviews by id
get character count of text

divide to get percentage
round percentage to 20 40 60 80 100

add the percentage to the current row in subl

finish loop

save csv of updated sub1 with percentage added

In [13]:
# create 2 row test data of sub1
testsub =sub1.head(2)

In [14]:
testsub

   index                                               part  Annotations
0   8884  Excellent hotel in a great location. Close eno...            0
1   1098  Third time visit to this hotel. Rooms renovate...            1

In [15]:
#list to hold percentages parallel to sub1 iteration
percent_list = []
for i in range(len(testsub)):
    # get current rows index
    current_index= testsub['index'].iloc[i]
    # get text count of part
    char_count = len(testsub['part'].iloc[i])
    # find row in reviews
    reviews_row = reviews[reviews['Index'] == current_index]
    # get character count of reviews text
    rev_char_count = len(reviews_row['reviews.text'].iloc[0])
    
    # divide to get percentage
    percentage = char_count / rev_char_count
    # add to list
    percent_list.append(percentage)
    
    print(f"character count: {char_count}")
    print(rev_char_count)
    print('------------------')
    


print(percent_list)

# add percentage column to sub1
testsub.insert(3, "Percent", percent_list, True)

testsub.to_csv("testpercentage.csv")

character count: 687
687
------------------
character count: 200
501
------------------
[1.0, 0.3992015968063872]

In [16]:
testsub

   index  ...   Percent
0   8884  ...  1.000000
1   1098  ...  0.399202

[2 rows x 4 columns]